@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("./public/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  }

  @font-face {
    font-family: "Rubik";
    font-weight: 400;
    src: url("./public/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "RubikBold";
    font-weight: 700;
    src: url("./public/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  }

  h1 {
    @apply text-6xl font-heading;
  }

  h2 {
    @apply text-4xl font-heading;
  }

  h3 {
    @apply text-2xl font-heading;
  }

  h4 {
    @apply text-xl font-heading;
  }

  h5 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-lg;
  }

  button {
    @apply text-xl font-["Rubik"] font-bold py-5;
  }



}